@import '~antd/dist/antd.css';

.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
  }
  .gutter-box {
    /* background: #00a0e9; */
    padding: 5px 0;
  }

  .gutter-box>button{
    margin-right: 0.5em;
    /*padding: 0;*/
  }

  .gutter-box>div.btnattach{
    margin-right: 0.5em;
    display: inline;
    /*padding: 0;*/
  }

   .logo {
    width: 120px;
    height: 50px;
    /* background: rgba(255, 255, 255, 0.2); */
    /*background-image: url(../images/__sitelogo__400dpiLogo.jpg);*/
    background-size: contain;
    margin: 16px 24px 16px 0;
    float: left;
    background-repeat: no-repeat;
  }

  .ant-layout-header{
    background:#f0f2f5;
  }

  .itsmdrawer{
            font-size: 10px;
            line-height: 22px;
            margin-bottom: 7px;
            color: rgba(0,0,0,0.65);
  }

  .itsmdrawertitle{
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    color: rgba(0,0,0,0.85);
  }

  .itsmdrawerbuttons{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-Top: 1px solid #e9e9e9;
    padding: 10px 16px;
    background: #fff;
    text-align: right;
  }

  .ant-table-body .ant-table-fixed .ant-table-thead tr th:last-child,
.ant-table-body .ant-table-fixed .ant-table-tbody tr td:last-child {
  visibility: hidden;
}

.ant-form-item-label label{
  font-weight: 500;
  font-size: 13px;
}

.cardunselected{
  cursor: pointer;
  background-color: #fff;
}

.cardselected{
  cursor: pointer;
  background-color:gainsboro;
}

  /* .card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  } */

